* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #222222;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    text-align: center;
}

h1 {
    color: #6c3ce9;
    font-size: 42px;
    margin-bottom: 12px;
}

p {
    color: #666666;
    margin-bottom: 30px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 15px;
    font-size: 16px;

    border: 2px solid #dddddd;
    border-radius: 8px;
    outline: none;
}

input:focus {
    border-color: #6c3ce9;
}

button {
    padding: 15px 20px;

    background-color: #6c3ce9;
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}

button:hover {
    background-color: #5929d4;
}